@model IEnumerable<Sistema_CRUD.Models.Client>

@{
    ViewData["Title"] = "Index";
}

<h1>Página inicial</h1>

<p>
    <a asp-action="Create">Cadastrar</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Id)</th>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Email)</th>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Password)</th>
        </tr>
        
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id);
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name);
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email);
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password);
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                    <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a>
                    <a asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
                </td>
            </tr>          
        }
    </tbody>
</table>
